table {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    tr,td {
        text-align: center;
    }
}
.temperatures-legend {
    text-align: center;
    margin-bottom: 48px; 
    font-weight: bold;  
    > p > .red-legend {
        color: red;
    } 
    > p > .blue-legend {
        color: blue; 
    }
}